<h1>Curso Testes Unitarios com Angular / Jasmine e Karma</h1>
<!-- <app-matchers-jasmine></app-matchers-jasmine>

<app-mock-service></app-mock-service> -->
<!-- <app-stub></app-stub> -->
<!-- <app-request></app-request> -->
<!-- <app-async-component></app-async-component> -->
<!-- <app-testing-components></app-testing-components> -->
<!-- <app-request></app-request> -->
<!-- <app-auto-detect-change></app-auto-detect-change> -->
<!-- <app-fill-form></app-fill-form> -->
<!-- <app-input-output
  [user]="user"
  (userMessage)="getUserMessage($event)">
</app-input-output> -->
<!-- <app-testing-pipes-directive-route></app-testing-pipes-directive-route> -->
<!-- <h1>Testando guarda de rotas</h1>
<button (click)="goTo('dashboard')" >acessar home</button> -->
<!-- <app-testing-route></app-testing-route> -->

<app-testing-directive></app-testing-directive>
<router-outlet></router-outlet>
